<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jusfoun.jusfouninquire">

    <permission
        android:name="com.jusfoun.jusfouninquire.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.jusfoun.jusfouninquire.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />


    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />-->
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <!--<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.BROADCAST_STICKY" />-->
    <!--<uses-permission android:name="android.permission.READ_CONTACTS" />-->
    <!--<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />-->
    <!--<uses-permission android:name="android.permission.WRITE_CONTACTS" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />-->
    <!--<uses-permission android:name="android.permission.LOCATION_HARDWARE" />-->
    <!--<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />-->
    <!--<uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->

    <application
        android:name=".InquireApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/C_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 首页页面-->

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode = "adjustNothing"
            />

        <!-- 广告页面-->
        <activity
            android:name=".ui.activity.AdvertisementActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 广告详细页面-->
        <activity
            android:name=".ui.activity.AdvertisementWebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 搜索页面-->
        <activity
            android:name=".ui.activity.SearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 提交人工查询页面-->
        <activity
            android:name=".ui.activity.ManuallySearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_vertical"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 注册验证手机号-->
        <activity
            android:name=".ui.activity.RegisterPhoneActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 修改手机号-->
        <activity
            android:name=".ui.activity.UpdateNumberActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 设置职位-->
        <activity
            android:name=".ui.activity.SetJobActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 设置行业-->
        <activity
            android:name=".ui.activity.SetIndustryActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 单独的登录页面-->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 设置公司-->
        <activity
            android:name=".ui.activity.SetCompanyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 设置公司-->
        <activity
            android:name=".ui.activity.AboutOurActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- 忘记密码-->
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 关于我们-->

        <!-- 注册信息补充页面-->
        <activity
            android:name=".ui.activity.SupplementRegisterInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 修改个人信息页面-->
        <activity
            android:name=".ui.activity.EditPersonActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- 我的关注-->
        <activity
            android:name=".ui.activity.MyAttentionActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 近期变更、企业雷达-->
        <activity
            android:name=".ui.activity.RecentChangeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- 系统信息-->
        <activity
            android:name=".ui.activity.SystemMessageActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- 意见反馈-->
        <activity
            android:name=".ui.activity.FeedbackActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 常见问题-->
        <activity
            android:name=".ui.activity.CommonProblemActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 详情页面-->
        <activity
            android:name=".ui.activity.CompanyDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 高级搜索-->
        <activity
            android:name=".ui.activity.AdvancedSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 高级搜索选择区域页面-->
        <activity
            android:name=".ui.activity.ChooseAreaActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 高级搜索选择注册资金页面-->
        <activity
            android:name=".ui.activity.ChooseRegisterFundActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 高级搜索选择注册时间页面-->
        <activity
            android:name=".ui.activity.ChooseRegisterTimeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 高级搜索结果页面-->
        <activity
            android:name=".ui.activity.DoAdvancedSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 测试下下拉刷新-->
        <activity
            android:name=".ui.activity.ScrollRefreshActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 企业所有详情-->
        <activity
            android:name=".ui.activity.CompanyDetailsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!--企业纠错界面-->
        <activity
            android:name=".ui.activity.CompanyAmendActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 百度地图-->
        <activity
            android:name=".ui.activity.BaiduMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 企业图谱-->
        <activity
            android:name=".ui.activity.CompanyMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- webview界面-->
        <activity
            android:name=".ui.activity.WebActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 热门企业列表界面-->
        <activity
            android:name=".ui.activity.HotCompanyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 失信榜单列表界面-->
        <activity
            android:name=".ui.activity.DishonestyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />
        <!-- 企业查询web页面-->
        <activity
            android:name=".ui.activity.WebSearchCompanyActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />


        <!-- 企信宝2.0搜索页面-->
        <activity
            android:name=".ui.activity.TypeSearchActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--android:windowSoftInputMode="adjustResize"-->

        <!-- 企信宝2.0搜索结果页面-->
        <activity
            android:name=".ui.activity.SearchResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustUnspecified|stateAlwaysHidden" />

        <!-- 企信宝失信搜索页面-->
        <activity
            android:name=".ui.activity.DishonestySearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <activity
            android:name=".ui.activity.MyReportActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />


        <!-- 企信宝2.0失信搜索页面-->
        <activity
            android:name=".ui.activity.SearchDishonestActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustResize" />
        <!-- 企信宝2.0.4热门资讯页面-->
        <activity
            android:name=".ui.activity.HotConsultingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustResize" />
        <!-- 企信宝2.0失信搜索结果页面-->
        <activity
            android:name=".ui.activity.DishonestResultActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 任务进度页面-->
        <activity
            android:name=".ui.util.crawl.TaskScheduleActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 招聘搜索-->
        <activity
            android:name=".ui.activity.RecruitmentSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!-- 税号搜索-->
        <activity
            android:name=".ui.activity.TaxIdSearchActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />

        <!--金融终端相关-->
        <!-- 精准营销 -->
        <activity
            android:name="com.jusfoun.bigdata.NearMapActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.jusfoun.bigdata.CompanySituationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- 照相或者取图片的工具 Activity。 -->
        <activity
            android:name="simplecropimage.CropImage"
            android:screenOrientation="portrait" />
        <!-- 照相或者取图片，并且封装了上传图片的工具 Activity。 -->
        <activity
            android:name=".ui.activity.CropImageViewAndUpload"
            android:screenOrientation="portrait" />

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.jusfoun.jusfouninquire" />
            </intent-filter>
        </activity>

        <!-- 分享内容编辑页 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />


        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- TODO 给吴国哨用的输入url，输出爬取内容页面 -->
        <activity
            android:name=".ui.activity.TestUrlGetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/my_style_horizontal"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- alipay sdk end -->

        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!--百度定位服务-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!--Required  显示通知栏 -->
                <category android:name="com.jusfoun.jusfouninquire" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name="com.jusfoun.jusfouninquire.receiver.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.jusfoun.jusfouninquire" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="@string/jpush_key" />
        <!--  激光推送apikey-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="5SangP5K3AYddFRYgGULGL902nglDfQe" />
        <!--百度地图apikey-->


        <!--友盟统计apikey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_key" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMENG_CHANNEL_VALUE"></meta-data>


        <!-- 下载更新队列 -->
        <service android:name=".net.update.UpdateOSService"></service>

        <!-- 加载图片service -->
        <service android:name=".service.LoadImageService"></service>

        <!-- 加载公告图片service -->
        <service android:name=".service.LoadNoticeImageService"></service>


        <service android:name=".ui.util.crawl.service.WebService" />
        <!--<receiver android:name=".ui.util.crawl.receiver.WebReceiver"-->
        <!--android:process=":process1"/>-->

        <!--<service android:name=".ui.util.crawl.service.GuardService"-->
        <!--android:process=":process2"-->
        <!--/>-->
        <!--<receiver android:name=".ui.util.crawl.receiver.GuardReceiver"-->
        <!--android:process=":process2"/>-->

        <service android:name=".ui.util.crawl.service.StartService" />
        <receiver android:name=".ui.util.crawl.TaskBroadcastReceiver" />


        <!-- 您从百度网站获取的 APP KEY -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="@string/baidu_statistics_key_new" />
        <!-- 渠道商编号 -->
        <!-- 是否开启错误日志统计,默认为 false -->
        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="false" />
        <!-- 日志发送策略,可选值:APP_START、ONCE_A_DAY、SET_TIME_INTERVAL, 默认为 APP_START -->
        <meta-data
            android:name="BaiduMobAd_SEND_STRATEGY"
            android:value="APP_START" />

        <!-- 日志发送策略 为 SET_TIME_INTERVAL 时,需设定时间间隔(取消下 行注释)。取值为 1-24 的整数,默认为 1 -->
        <!-- <meta-data
        android:name="BaiduMobAd_TIME_INTERVAL"
        android:value="2" /> -->
        <!-- 日志仅在 wifi 网络下发送,默认为 false -->
        <meta-data
            android:name="BaiduMobAd_ONLY_WIFI"
            android:value="false" />
        <!-- 是否获取基站位置信息 ,默认为 true -->
        <meta-data
            android:name="BaiduMobAd_CELL_LOCATION"
            android:value="true" />
        <!-- 是否获取 GPS 位置信息,默认为 true -->
        <meta-data
            android:name="BaiduMobAd_GPS_LOCATION"
            android:value="true" />
        <!-- 是否获取 WIFI 位置信息,默认为 true -->
        <meta-data
            android:name="BaiduMobAd_WIFI_LOCATION"
            android:value="true" />

        <!-- 适配全面屏底部黑边的问题 -->
        <meta-data android:name="android.max_aspect"
            android:value="2.1"/>


    </application>

</manifest>
